<h1>Dashboard</h1>

<br>
<div class="panel panel-default products">

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Product Count</th>
      <th>Categories Count</th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <td>
        <%= @product_count%>
      </td>
      <td>
        <%= @product_categories %>
      </td>
    </tr>
  </tbody>
        
</table>

</div>